node_modules
.tmp
.sass-cache
.DS_Store
npm-debug.log
tmp
.projects
*.orig

screenshots
videos
out.js
cypress/logs
cypress/downloads/*
snapshots.js
.nyc_output
coverage
dist
test-data.json
cypress/reports/mocha
cypress/reports/mochareports/*

logs
*.log
debug.log

pids
*.pids
*.seed